.App {
 color:#F7E7CE;
 font-family:'Holtwood One SC', Arial, Helvetica, sans-serif;
 font-size:17px;
 text-shadow: 2px 2px black;

}

body{
  background-image: url('../public/assets/reddog.jpeg');
  background-size: cover;
  background-attachment: fixed;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



#App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  height:100px;
  background:url('../public/assets/planks.jpeg');

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner{
  height: 250px;
  width: 100vw;
  padding: 10px;
  padding-top:50px;
  padding-bottom:10px;
  width:70vw;
  margin: 10px auto;
  
}

#banner-a, #banner-c, #banner-e{
  padding-bottom:30px;

}

#banner-a{
  background:url('../public/assets/grey_wood.jpeg');
  background-position:center center;
  background-size:contain;
}

#banner-b{
  background: url('../public/assets/wood.jpeg');
  height:250px;
}

#banner-c{
  background:url('../public/assets/planks_with_trim.jpeg');
  background-position:center center;
  background-size: cover;
}

#banner-d{
  background:url('../public/assets/tree_core.jpeg');
  background-position:center center;
  background-size: cover;
}

#banner-e{
  background:url('../public/assets/dark_planks.jpg');
  background-position:center center;
  background-size: cover;
}

.example-img{
  max-height:200px;
  padding:20px;
}

p {
  word-wrap:break-word;
}

#order{
  text-align:center;

}

#message{
  width:400px;
  height:500px;
  vertical-align:top;
}

textarea{
  background:transparent;
  vertical-align:top;
  color:#8B4513;
  font-family:'Holtwood One SC', Arial, Helvetica, sans-serif;
 font-size:17px;
 text-shadow: 2px 2px darkgray;
}

@media screen and (max-width: 393px) {
  .App {
    font-size: 20px;
  }
  
  #App-header {
    height: 70px;
  }
  
  .banner {
    font-size:15px;
    height: 200px;
    width: 90vw;
    margin: 10px auto;
  }
  
  #banner-a{
    height:350px;
  }
  #banner-b{
    height:500px;
  }

  #banner-c{
    height:500px;
  }

  #banner-d{
    height:450px;
  }

  #banner-e{
    height:450px;
  }

  .example-img {
    max-height: 150px;
    margin-top:40px;
  }
  
  #message {
    width: 90%;
    height: 300px;
  }

  body{
    background-size:stretch;
    background-position: center;
    background-repeat: no-repeat;
  }

  img{
    size:100vw;
  }

  p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
